configuration {
    show-icons: true;
    font: "Agave Nerd Font 11";
    icon-theme: "Papirus-Dark";

    transparency: "real";  
    blur: "true";         


    display-ssh:    "󰣀 ssh:";
    display-drun:   "󱓞  :";
    display-window: "󱂬 window:";
    display-combi:  "󰕘 combi:";
    display-filebrowser: "󰉋 filebrowser:";

    dpi: 120;

}

@theme "gruvbox-material"
